.card-arrow {
  box-sizing: border-box;
  width: 44px;
  height: 44px;
  border-radius: 4px;
  background: $blue;
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;

  .button-icon__text{
    @include font-bold($font-size: 12px,$font-color:$white);
    text-transform: uppercase;
    vertical-align: center;
    text-align: center;
    line-height: 1.1;
  }

  &.card-arrow_right ::after{
    content: " ";
    position: absolute;
    right: -4px;
    top:50%-6;
    background-color: $blue;
    width: 8px;
    height: 8px;
    margin-left: -4px;
    border: none;
    transform: rotate(45deg);
  }
  &.card-arrow_left ::before{
    content: " ";
    position: absolute;
    left: -4px;
    top:50%-6;
    background-color: $blue;
    width: 8px;
    height: 8px;
    border: none;
    transform: rotate(45deg);
  }
  &.card-arrow_size-sm{
    width: 28px;
    height: 28px;
    .button-icon__text {
      font-size: 14px;
    }

  }
  &.card-arrow_left.card-arrow_size-sm ::before{
    content: " ";
    position: absolute;
    left: -4px;
    top:35%;
    background-color: $blue;
    width: 8px;
    height: 8px;
    border: none;
    transform: rotate(45deg);
  }


  @media (min-width: $media-md) {
    width: 60px;
    height: 60px;
   .button-icon__text{
      font-size: 14px;
    }

    &.card-arrow_right ::after{
      right: -4px;
      top:50%-8;
      width: 10px;
      height: 10px;
      margin-left: -5px;
    }

    &.card-arrow_left::before{
      left: -4px;
      top:50%-8;
      width: 10px;
      height: 10px;
    }

  }
}

.card-code{
 height: 24px;
  padding: 2px;

  background-color: $blue;
  float:left; overflow:hidden;
    display: flex;

  .card-code__text{
    @include font-bold($font-size: 10px,$font-color:$white);
    max-width: 35px;
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
  }
  .card-code__time{
    @include font-normal($font-size: 8px,$font-color:$blue);
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 1;
    background-color: $white;

  }
  @media (min-width: $media-md) {
    height: 28px;
    .card-code__text {
      font-size: 14px;
      width: 43px;
    }
    .card-code__time {
      width: 35px;
      font-size: 10px;
      padding: 2px;
    }
  }
}