.card-arrow {
  box-sizing: border-box;
  width: 44px;
  height: 44px;
  border-radius: 4px;
  background: $blue;
  padding: 9px;
  position: relative;
  text-align: center;
  .button-icon__text{
    @include font-bold($font-size: 12px,$font-color:$white);
    text-transform: uppercase;
    vertical-align: center;
    line-height: 0;
  }

  &.card-arrow_right ::after{
    content: " ";
    position: absolute;
    right: -4px;
    top:50%-6;
    background-color: $blue;
    width: 8px;
    height: 8px;
    margin-left: -4px;
    border: none;
    transform: rotate(45deg);
    box-shadow: 1px 1px $blue;
  }
  &.card-arrow_left ::before{
    content: " ";
    position: absolute;
    left: -4px;
    top:50%-6;
    background-color: $blue;
    width: 8px;
    height: 8px;
   // margin-left: -4px;
    border: none;
    transform: rotate(45deg);
    box-shadow: 1px 1px $blue;
  }


  @media (min-width: $media-md) {
    padding: 16px;
    width: 60px;
    height: 60px;
   .button-icon__text{
      font-size: 14px;
    }

    &.card-arrow_right ::after{
      right: -4px;
      top:50%-8;
      width: 10px;
      height: 10px;
      margin-left: -5px;
    }

    &.card-arrow_left ::before{
      left: -4px;
      top:50%-8;
      width: 10px;
      height: 10px;
    }

  }
}